<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar productos</title>
</head>
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </thead>
        <tbody>
            <% for(var i = 0; i < listaProductos.length; i++){ %>
                <tr>
                    <td> <%= listaProductos[i].id %></td>
                    <td> <%= listaProductos[i].nombreProducto %></td>
                    <td> <%= listaProductos[i].precio %></td>
                    <td> <%= listaProductos[i].cantidad %></td>
                </tr>
            <%}%>
        </tbody>
    </table>

    
</body>
</html>