<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inicio</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/registrar">Registrar Producto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/consultar">Consultar Producto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/editarProductos">Editar Producto</a>
      </li>
      <% if(!isAuthenticated) {%>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Login</a>
        </li>
        <%}else{%>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">LogOut</a>
        </li>
    <% } %>
    </ul>
  </nav>